<header>
  <div class="row fixed z-2 height-nav align-top width-fill align-center fg-light text-shadow">
    <div class="row width-container gap-fill pad-x-md align-center-y">
      <div class="bubble bubble-left">
        <a class="font-brand invisible" href="/">rhg.dev</a>
      </div>
      <div class="bubble bubble-right">
        <div class="invisible">{{ partial "social-links.html" }}</div>
      </div>
    </div>
  </div>
  <div class="row fixed z-4 height-nav align-top width-fill align-center fg-light text-shadow">
    <div class="row width-container gap-fill pad-x-md align-center-y">
      <a class="font-brand" href="/">rhg.dev</a>
      {{ partial "social-links.html" }}
    </div>
  </div>
  <div class="absolute z-4 height-nav align-brand fg-light">
    <div class="row gap-md align-center-y">
      <a href="/blog" class="row gap-xs align-center underline font-link">blog</a>
      <a href="/arcade" class="row gap-xs align-center underline font-link">arcade</a>
    </div>
  </div>
</header>