<a class="card" href="{{.Permalink}}">
  <span class="card__part">
    {{ if eq .Section "arcade" }}
      {{ if .Params.genre }}
        {{ .Params.genre }}
      {{ else }}
        Game
      {{ end }}
    {{ else if .Params.Series }}
      Part {{.Params.entry}}
    {{ else if .Params.IsSeries }}
      Series
    {{ else }}
      Blog Post
    {{ end }}
  </span>
  
  <h5 class="card__title">
    {{ if .Params.Series }}
  <div class="card__icon {{ if .Params.HasPixelImage }}pixelated{{ end }}" style="background-image: url('/images/{{ .Parent.Params.image }}.png')"></div>
  {{else}}
  <div class="card__icon {{ if .Params.HasPixelImage }}pixelated{{ end }}" style="background-image: url('/images/{{ .Params.image }}.png')"></div>
  {{end}}
    <span>{{.Title}}</span>
  </h5>
  <span class="card__date">{{ partial "date" . }}</span>
  {{ if .Params.description }}
  <p class="card__subtitle">{{.Params.description}}</p>
  {{ end }}
</a>